In [29]:
import pandas as pd
import os
import re
from config import CONFIG

In [30]:
raw_data_path = CONFIG["paths"]["raw_data"]
processed_data_path = CONFIG["paths"]["processsed"]
results_path = CONFIG["paths"]["results"]

In [31]:
file_name = "20009-1"

In [32]:
data_model = pd.read_csv(processed_data_path + "/" + file_name + "_model.csv")
data_parts = pd.read_csv(processed_data_path + "/" + file_name + "_parts.csv")

In [33]:
data_model.head()

   color    x    y      z    a    b    c    d    e    f    g    h    i  part
0      7  0.0  0.0    0.0  0.0  0.0  1.0  0.0  1.0  0.0 -1.0  0.0  0.0  3795
1      8  0.0 -8.0  -20.0  0.0  0.0  1.0  0.0  1.0  0.0 -1.0  0.0  0.0  3031
2      7  0.0  0.0  120.0  0.0  0.0  1.0  0.0  1.0  0.0 -1.0  0.0  0.0  3795
3      7  0.0 -8.0   30.0 -1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0 -1.0  3710
4      8  0.0 -8.0  160.0  0.0  0.0  1.0  0.0  1.0  0.0 -1.0  0.0  0.0  3031

In [34]:
data_parts = data_parts[["part_num","part_name","part_cat_id","year_from", "year_to", "category_name", "dim1", "dim2", "dim3", "bracket_info"]]
df = data_model.join(data_parts.set_index('part_num'), on='part')
df = df.reset_index().rename(columns={"index": "part_id"})

In [35]:
import itertools
pairs = []
for (i1, row1), (i2, row2) in itertools.combinations(df.iterrows(), 2):
    pairs.append({
            "part_id_1": row1["part_id"],
            "part_id_2": row2["part_id"],
            "part_num_1": row1["part"],
            "part_num_2": row2["part"],
            "connected": 0
        })
pairs_df = pd.DataFrame(pairs)
pairs_df

      part_id_1  part_id_2 part_num_1 part_num_2  connected
0             0          1       3795       3031          0
1             0          2       3795       3795          0
2             0          3       3795       3710          0
3             0          4       3795       3031          0
4             0          5       3795       3032          0
...         ...        ...        ...        ...        ...
4555         92         94      63965       2555          0
4556         92         95      63965      30375          0
4557         93         94       4740       2555          0
4558         93         95       4740      30375          0
4559         94         95       2555      30375          0

[4560 rows x 5 columns]

In [36]:
df.to_csv(results_path + "/" + "df_" + file_name + ".csv", index=False)
pairs_df.to_csv(results_path + "/" + "ground_truth_" + file_name + ".csv", index=False)