In [1]:
import pandas as pd
import os
import re
from config import CONFIG

In [2]:
raw_data_path = CONFIG["paths"]["raw_data"]
processed_data_path = CONFIG["paths"]["processsed"]
results_path = CONFIG["paths"]["results"]

In [3]:
file_name = "75895-1"

In [4]:
data_model = pd.read_csv(processed_data_path + "/" + file_name + "_model.csv")
data_parts = pd.read_csv(processed_data_path + "/" + file_name + "_parts.csv")

In [5]:
data_model.head()

   color    x     y      z    a    b    c    d    e    f    g    h    i   part
0     14  0.0   0.0  -20.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  75895
1     15  0.0 -88.0  -40.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  75895
2     71  0.0 -14.0   70.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  75895
3     71  0.0 -14.0 -110.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  75895
4     14  0.0   0.0  100.0  0.0  0.0  1.0  0.0  1.0  0.0 -1.0  0.0  0.0   3021

In [6]:
data_parts = data_parts[["part_num","part_name","part_cat_id","year_from", "year_to", "category_name", "dim1", "dim2", "dim3", "bracket_info"]]
df = data_model.join(data_parts.set_index('part_num'), on='part')
df = df.reset_index().rename(columns={"index": "part_id"})

In [7]:
import itertools
pairs = []
for (i1, row1), (i2, row2) in itertools.combinations(df.iterrows(), 2):
    pairs.append({
            "part_id_1": row1["part_id"],
            "part_id_2": row2["part_id"],
            "part_num_1": row1["part"],
            "part_num_2": row2["part"],
            "connected": 0
        })
pairs_df = pd.DataFrame(pairs)
pairs_df

       part_id_1  part_id_2 part_num_1 part_num_2  connected
0              0          1      75895      75895          0
1              0          2      75895      75895          0
2              0          3      75895      75895          0
3              0          4      75895       3021          0
4              0          5      75895      30414          0
...          ...        ...        ...        ...        ...
18331        188        190      75895    s\75895          0
18332        188        191      75895      75895          0
18333        189        190    box5-12    s\75895          0
18334        189        191    box5-12      75895          0
18335        190        191    s\75895      75895          0

[18336 rows x 5 columns]

In [8]:
df.head()

,part_id,color,x,y,z,a,b,c,d,e,...,part,part_name,part_cat_id,year_from,year_to,category_name,dim1,dim2,dim3,bracket_info
0,0,14,0.0,0.0,-20.0,1.0,0.0,0.0,0.0,1.0,...,75895,Sticker Sheet for Set 9558-1,58.0,2012.0,2012.0,Stickers,NaN,NaN,NaN,NaN
1,1,15,0.0,-88.0,-40.0,1.0,0.0,0.0,0.0,1.0,...,75895,Sticker Sheet for Set 9558-1,58.0,2012.0,2012.0,Stickers,NaN,NaN,NaN,NaN
2,2,71,0.0,-14.0,70.0,1.0,0.0,0.0,0.0,1.0,...,75895,Sticker Sheet for Set 9558-1,58.0,2012.0,2012.0,Stickers,NaN,NaN,NaN,NaN
3,3,71,0.0,-14.0,-110.0,1.0,0.0,0.0,0.0,1.0,...,75895,Sticker Sheet for Set 9558-1,58.0,2012.0,2012.0,Stickers,NaN,NaN,NaN,NaN
4,4,14,0.0,0.0,100.0,0.0,0.0,1.0,0.0,1.0,...,3021,Plate 2 x 3,14.0,1962.0,2025.0,Plates,2.0,3.0,NaN,NaN

In [9]:
pairs_df.head()

   part_id_1  part_id_2 part_num_1 part_num_2  connected
0          0          1      75895      75895          0
1          0          2      75895      75895          0
2          0          3      75895      75895          0
3          0          4      75895       3021          0
4          0          5      75895      30414          0

In [10]:
df.to_csv(results_path + "/" + "df_" + file_name + ".csv", index=False)
pairs_df.to_csv(results_path + "/" + "ground_truth_" + file_name + ".csv", index=False)