In [1]:
import pandas as pd
import os
import re
from config import CONFIG

In [2]:
raw_data_path = CONFIG["paths"]["raw_data"]
processed_data_path = CONFIG["paths"]["processsed"]

In [3]:
data_model = pd.read_csv("./data/processed/20006-1_model.csv")
data_parts = pd.read_csv("./data/processed/20006-1_parts.csv")

In [4]:
data_model.head()

,color,x,y,z,a,b,c,d,e,f,g,h,i,part
0,8,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,-1.0,0.0,0.0,6112
1,8,20.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,-1.0,0.0,0.0,6112
2,7,10.0,24.0,-120.0,-1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-1.0,30000
3,7,10.0,24.0,120.0,-1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-1.0,30000
4,8,10.0,0.0,130.0,-1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-1.0,2877

In [ ]:
data_parts = data_parts[["part_num","part_name","part_cat_id","year_from", "year_to", "category_name", "dim1", "dim2", "dim3", "bracket_info"]]
df = data_model.join(data_parts.set_index('part_num'), on='part')
df = df.reset_index().rename(columns={"index": "part_id"})

In [ ]:
import itertools
pairs = []
for (i1, row1), (i2, row2) in itertools.combinations(df.iterrows(), 2):
    pairs.append({
            "part_id_1": row1["part_id"],
            "part_id_2": row2["part_id"],
            "part_num_1": row1["part"],
            "part_num_2": row2["part"],
            "connected": 0
        })
pairs_df = pd.DataFrame(pairs)
pairs_df

In [2]:
#df.to_csv("./results/20006-1.csv", index=False)
#pairs_df.to_csv("./results/ground_truth_20006-1.csv", index=False)