In [1]:
import pandas as pd
from parse_ldr import parse_ldr_to_df

In [2]:
df = parse_ldr_to_df("lego/20006-1.mpd")

In [18]:
parts = df["part"].unique()
print(parts)

['6112.dat' '30000.dat' '2877.dat' '3660.dat' '6565.dat' '6564.dat'
 '20006' '3003.dat' '3020.dat' '2412b.dat' '3023.dat' '3039.dat'
 '4070.dat' '3794b.dat' '43723.dat' '43722.dat' '3710.dat' '32000.dat'
 '4274.dat' '32001.dat' '43711.dat' '43710.dat' '3062b.dat' '4697a.dat'
 '4032a.dat' '4599a.dat' '4592.dat' '4593.dat' '3957a.dat' '55981.dat'
 '6232.dat' '3701.dat' '3037.dat' '3069b.dat' '30162.dat']

In [23]:
parts = df["part"].unique()
for n, part in enumerate(parts):
    part = part.split(".")
    parts[n] = part[0]

In [24]:
print(parts)

['6112' '30000' '2877' '3660' '6565' '6564' '20006' '3003' '3020' '2412b'
 '3023' '3039' '4070' '3794b' '43723' '43722' '3710' '32000' '4274'
 '32001' '43711' '43710' '3062b' '4697a' '4032a' '4599a' '4592' '4593'
 '3957a' '55981' '6232' '3701' '3037' '3069b' '30162']

In [19]:
df.head(5)

,color,x,y,z,a,b,c,d,e,f,g,h,i,part
0,8,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,-1.0,0.0,0.0,6112.dat
1,8,20.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,-1.0,0.0,0.0,6112.dat
2,7,10.0,24.0,-120.0,-1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-1.0,30000.dat
3,7,10.0,24.0,120.0,-1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-1.0,30000.dat
4,8,10.0,0.0,130.0,-1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,-1.0,2877.dat

In [25]:
import requests

API_KEY = "3cf4e2d7c447b565d43915f8477869da"
PART_NUM = parts[3]  
print(parts[3])

url = f"https://rebrickable.com/api/v3/lego/parts/{PART_NUM}/"
headers = {"Authorization": f"key {API_KEY}"}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    data = response.json()
    print(data)
else:
    print("Fehler:", response.status_code, response.text)

3660
{'part_num': '3660', 'name': 'Slope Inverted 45° 2 x 2 [Ovoid Bottom Pin, Bar-sized Stud Holes]', 'part_cat_id': 3, 'year_from': 1976, 'year_to': 2025, 'part_url': 'https://rebrickable.com/parts/3660/slope-inverted-45-2-x-2-ovoid-bottom-pin-bar-sized-stud-holes/', 'part_img_url': 'https://cdn.rebrickable.com/media/parts/elements/366026.jpg', 'prints': ['3660pr0001', '3660pr0002', '3660pr0005', '3660pr0010', '3660pr0009', '3660pr0003', '3660pr0006', '3660pr0008', '3660pr0007', '3660pr0004'], 'molds': ['76959', '3660a', '3660b', '7261'], 'alternates': ['3660b'], 'external_ids': {'BrickLink': ['3660'], 'BrickOwl': ['384426'], 'Brickset': ['3660'], 'LDraw': ['3660b', '3660c'], 'LEGO': ['3660']}, 'print_of': None}