# Ldraw file

In [12]:
import parse_ldr
import pandas as pd

In [10]:
parts = parse_ldr.parse_ldr("lego/Beispiel.ldr")

In [13]:
df = pd.DataFrame(parts)

In [14]:
df.head()

     part_id  color     x     y     z
0   3001.dat     15   0.0 -24.0 -20.0
1   3001.dat     15   0.0 -24.0  20.0
2   3004.dat     15 -10.0 -48.0   0.0
3  14716.dat     15  10.0 -96.0  10.0
4   3005.dat     15  10.0 -48.0 -10.0