In [1]:
import pandas as pd
import os
import re
from config import CONFIG

In [2]:
raw_data_path = CONFIG["paths"]["raw_data"]
processed_data_path = CONFIG["paths"]["processsed"]
results_path = CONFIG["paths"]["results"]

In [3]:
file_name = "20009-1"

In [27]:
df = pd.read_csv(results_path + "/df_" + file_name + ".csv", header=0, sep= ",")
gt = pd.read_csv(results_path + "/gt_" + file_name + ".csv",header=0, sep=";")

In [28]:
gt.columns

Index(['Column1', 'part_id_2', 'part_num_1', 'part_num_2', 'connected'], dtype='object')

In [29]:
gt.rename(columns={"Column1" : "part_id_1"}, inplace=True)

In [30]:
gt.head()

   part_id_1  part_id_2  part_num_1 part_num_2  connected
0          0          1      3795.0       3031          1
1          0          2      3795.0       3795          0
2          0          3      3795.0       3710          1
3          0          4      3795.0       3031          0
4          0          5      3795.0       3032          1

In [31]:
gt.drop(["part_num_1", "part_num_2"], axis="columns",inplace=True)

In [32]:
gt.head()

   part_id_1  part_id_2  connected
0          0          1          1
1          0          2          0
2          0          3          1
3          0          4          0
4          0          5          1

In [33]:
# Filter: nur Zeilen behalten, wo beide IDs <= 75 sind
gt_clean = gt[(gt["part_id_1"] <= 75) & (gt["part_id_2"] <= 75)]

In [36]:
df_clean = df[(df["part_id"]<=75)]

In [41]:
df_clean.to_csv(results_path + "/" + "df_" + file_name + ".csv", index=False)
gt_clean.to_csv(results_path + "/" + "gt_" + file_name + ".csv", index=False)